#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}


.btn {
  color: #ffffff;
  background: dodgerblue;
  display: inline-block;
  height: 36px;
  margin-left: 8px;
  margin-right: 8px;
}

.btn-remove {
  background: indianred;
}

input[type="submit"]:hover {
  color: aliceblue;
}

input[type="submit"]:focus {
  color: whitesmoke;
}

.item-container {
  background-color: whitesmoke;
}

.item-row {
  display: flex;
  margin: 4px;
  padding: 12px;
  width: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.item-title {
  width: 200px;
  vertical-align: middle;
  text-align: left;
  margin: 8px;
  flex: 1;
}
